::ng-deep .myProjectCard {
  width: 400px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  img {
    width: 20px !important;
  }
}

.nextMilestoneBox {
  background-color: rgba(243, 45, 45, 0.5);
  padding: 10px;
}
