<div class="article">
  <p-panel header="About NekoHit" [toggleable]="true">
    <div class="paragraph p-text-left">
      <div class="p-d-flex p-jc-center">
        <img src="assets/logo.png">
      </div>
      Welcome to the NekoHit Project - a platform built on top of NEO N3 which allows you to support projects from
      people all around the world using the bleeding edge blockchain technology. As a creator you can fund your
      projects with CAT tokens. On the other hand as a supporter you can help out your favorite content creators.
      NekoHit has specifically been designed so that both parties are taking a risk as less as possible.
    </div>
  </p-panel>
  <br>
  <p-panel header="CAT Tokens" [toggleable]="true">
    <div class="paragraph p-text-left">
      The CAT token is the currency for the WCA contract. It has a fixed amount of supply of 1 billion in
      total, with no changes planned in the future.
      The minimal unit is 0.01CAT. We are trying to make it feel like the real world currency,
      so you can feel more familiar to spend it. By supplying this amount of tokens,
      we hope we can eliminate the dramatic change of price caused by crypto currency market.
    </div>
  </p-panel>
  <br>

  <p-panel header="How does it work?" [toggleable]="true">
    <div class="paragraph p-text-left">
      <div class="paragraph p-text-left">
        The WCA (Work Completion Agreements) contract is the core of NekoHit Project. It handles all requests from you.
        It will save your project info to the blockchain. All of your updates to your projects are also stored on the
        blockchain. This means a more open and clear platform to let people trust you and support your project.

        <p>If you are a supporter, you can trust the technology of blockchain, no one can tamper the data. You decide
          which project to support and when to make a refund (at any time).</p>

        All those requests are processed by our WCA contract running on Neo N3 network automatically. If you don't trust
        this contract or have any doubts then don't worry, we open sourced everything on
        <a href="https://github.com/NekoHitDev/Ritmin">GitHub</a>, so you can review the code and compile the contract
        yourself.
      </div>
      <div class="paragraph p-text-left">
        For more technical details, please refer to our GitHub repo:
        <a href="https://github.com/NekoHitDev/Ritmin" target="_blank">contract</a> and
        <a href="https://github.com/NekoHitDev/ritmin-frontend" target="_blank">frontend</a> .
        If you have any questions, feel free to join our discord server, we will be there.
      </div>
    </div>
  </p-panel>
  <br>
  <p-panel header="For Creators" [toggleable]="true">
    <div class="paragraph p-text-left">
      If you're a content creator then you can declare your project to the contract. The WCA contract will store it on
      the N3 NEO blockchain. Simply provide some basic information what your project is about, set milestones and you
      can get started.
      Each project will be split into multiple milestones, so you can have a better control over your project
      which at the same time provides more transparency for your supporters.
      Each milestone requires a title, description and a deadline. It is important that you finish your milestones
      <b>before</b> that and provide proof to your work with a link which leads to said proof. Not finishing a milestone
      in time will have consequences. After declaring your project to the WCA contract, your project should be
      <p-tag value="PENDING" severity="warning"></p-tag>
      .
    </div>
    <div class="paragraph p-text-left">
      Your last step before your project becomes available for the public is staking some CAT tokens.
      The amount of tokens you will have to provide is your choice. A higher stake rate means you will lose more tokens
      if you don't finish a milestone in time. In case this happens, part of the staked tokens will
      be distributed to your supporters based on how much they initially supported you.
      <p>
        Thus you can gain trust by staking higher rates and finish your project on time. But you should
        make a good plan before you declare your project, if you can't finish a milestone in time, you better
        hope that your supporters tolerate you. After successfully staking, your project has now the status
        <p-tag value="ONGOING" severity="success"></p-tag>
        .
      </p>
    </div>
    <div class="paragraph p-text-left">
      After you pay the stake, your project is available to purchase for supporters. If you
      chose the option that your project will be publicly listed then everyone can see your ProjectModels, read
      the details, and then decide if they want to support you. If you set it to private,
      then you have to advertise your project on your self by sharing the identifier of your project.
      A good description and a detailed plan always attract more supporters.
    </div>
    <div class="paragraph p-text-left">
      Then you can update your project by finishing milestones. Please do notice you have to obey your cooldown interval
      you set when you declare your project. Once the last milestone is finished, the WCA contract will automatically
      compute and transfer the tokens. At this stage, your project is
      <p-tag value="FINISHED" severity="danger"></p-tag>
      .
    </div>
  </p-panel>
  <br>

  <p-panel header="For Supporters" [toggleable]="true">
    <div class="paragraph p-text-left">
      If you are a supporter feel free to browse all kinds of WCAs. Our contract have users in mind when we built it. As
      a supporter when you decide to support some projects by sending tokens to them, you will be displayed all details
      of this project before you make the purchase, you can go through those important details, like milestones set up,
      staking rate, and the most important two options which are the cool down interval and the threshold milestone.
    </div>
    <div class="paragraph p-text-left">
      The cooldown interval is a limitation set by creator to limit how fast they can finish a milestone. If it's too
      short then it's possible to quickly finish all milestones and take away the tokens and you won't have time to
      notice this. With some reasonable cooldown interval a creator must wait this amount of time before finishing the
      next milestone. If anything goes wrong, you will have time to make a refund. Don't forget, you can make a refund
      anytime, as long as the project isn't finished.
    </div>
  </p-panel>
</div>
