<div class="p-d-flex p-flex-row p-m-4 p-jc-start p-p-4">
  <div class="p-mr-6 section">
    <b>Company</b>
    <p><a routerLink="tos" class="default-link-style">Terms of Service</a></p>
  </div>
  <div class="p-mr-6 section">
    <b>Support</b>
    <p><a routerLink="contact-us" class="default-link-style">Contact Us</a></p>
    <p>v{{appVersion}}</p>
  </div>
  <div class="p-mr-6 section">
    <b>Socials</b>
    <p><a href="https://discord.gg/" target="_blank" class="default-link-style">Discord</a></p>
    <p><a href="https://t.me/nekohit" target="_blank" class="default-link-style">Telegram</a></p>
    <p><a href="https://twitter.com/nekohit" target="_blank" class="default-link-style">Twitter</a></p>
  </div>
</div>

<div class="p-d-flex p-flex-row p-jc-between p-pr-4 p-pl-4">
  <div class="p-as-center"><small>© 2021 NekoHit. All rights reserved</small></div>
</div>
