<div class="p-d-flex p-jc-center p-ai-center p-mb-2">
  <a id="twitter" class="social fa fa-twitter" href="https://twitter.com/NekohitProject" target="_blank"></a>
  <a id="discord" class="social fab fa-discord" href="https://discord.gg/DfSjhXuWyT" target="_blank"></a>
  <a id="telegram" class="social fa fa-telegram" href="https://t.me/NekoHit" target="_blank"></a>
  <a id="github" class="social fa fa-github" href="https://github.com/NekoHitDev" target="_blank"></a>
</div>

<div class="p-d-flex p-flex-column p-jc-center p-pr-4 p-pl-4">
  <div class="p-as-center"><small>© 2021 NekoHit. All rights reserved</small></div>
  <div class="p-as-center"><small>v{{appVersion}}</small></div>
</div>
