<div
  class="flex justify-content-between align-items-center"
  style="height: 100px"
>
  <div class="ml-3">
    <p class="text-sm">© 2021 NekoHit. All rights reserved</p>
    <div class="ml-1">
      <a
        id="twitter"
        class="social fa fa-twitter"
        href="https://twitter.com/NekohitProject"
        target="_blank"
      ></a>
      <a
        id="discord"
        class="social fab fa-discord"
        href="https://discord.gg/DfSjhXuWyT"
        target="_blank"
      ></a>
      <a
        id="telegram"
        class="social fa fa-telegram"
        href="https://t.me/NekoHit"
        target="_blank"
      ></a>
      <a
        id="github"
        class="social fa fa-github"
        href="https://github.com/NekoHitDev"
        target="_blank"
      ></a>
    </div>
  </div>
  <!--   <div>
    <img
      (click)="changeLanguage('en')"
      class="mr-2 cursor-pointer"
      style="border-radius: 2px"
      alt="United States"
      height="20"
      src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg"
    />

    <img
      (click)="changeLanguage('cn')"
      class="mr-2 cursor-pointer"
      style="border-radius: 2px"
      alt="Chinese"
      height="20"
      src="http://purecatamphetamine.github.io/country-flag-icons/3x2/CN.svg"
    />

    <img
      (click)="changeLanguage('de')"
      class="mr-2 cursor-pointer"
      style="border-radius: 2px"
      alt="German"
      height="20"
      src="http://purecatamphetamine.github.io/country-flag-icons/3x2/DE.svg"
    />
  </div> -->
</div>
