.social {
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
}

#twitter {
  color: #1da1f2;
}
#discord {
  color: #7289da;
}
#telegram {
  color: #0088cc;
}
#github {
  color: black;
}
