<p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false">
  <div class="p-d-flex p-jc-center p-ai-center p-flex-column">
    <img src="assets/logo.png" height="120" alt="logo">
    <div class="p-mt-2 p-text-center">
      <p><small>Please approve the pending request. </small></p>
      <p><small>It can take up to 15 seconds for changes to take effect</small></p>
    </div>
    <p-progressSpinner [style]="{width: '70px', height: '70px'}"></p-progressSpinner>
  </div>
</p-dialog>
