<form [formGroup]="form">
  <h4>Title</h4>
  <small>
    Give your milestone a meaningful title. The title is restricted to 30 characters.
  </small>
  <div class="p-fluid">
    <input [maxlength]="30" pInputText formControlName="title"/>
  </div>
  <p [ngClass]="{'warning' : title.length == 30}"><small>{{ 30 - title.length }} characters left</small></p>

  <h4>Description</h4>
  <small><p>
    Describe in 2-3 clear sentences what the goal of this milestone is. What are you trying to achieve until this
    milestone,
    what should be done until then. The description is restricted to 400 characters.</p>
  </small>
  <div class="p-fluid">
    <textarea [maxlength]="400" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
              formControlName="description"></textarea>
  </div>
  <p [ngClass]="{'warning' : description.length == 400}"><small>{{ 400 - description.length }} characters left</small>
  </p>

  <h4>Deadline</h4>
  <small><p>
    Set the deadline of the milestone. When the deadline is reached, the goals of the milestone should be reached.
    Different milestones
    can't have the same deadline. Please keep in mind that you set your cooldown interval
    to {{lastForm['cooldownInterval'] | timeDuration}}.</p>
  </small>
  <div class="p-fluid">
    <p-calendar [showTime]="true" formControlName="endTimestamp" [minDate]="minDate"
                [readonlyInput]="true"></p-calendar>
  </div>
  <div class="p-fluid p-mt-4 p-mb-4">
    <button pButton label="Add" icon="pi pi-plus" type="submit" [disabled]="!form.valid" (click)="onAdd()"></button>
  </div>
</form>

<p-table [value]="milestones" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Threshold <i pTooltip="Until the deadline of this milestone buyers can withdraw 100% of their tokens"
                       class="pi pi-question-circle"></i></th>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ms>
    <tr>
      <td>{{getIndex(ms.endTimestamp) + 1}}</td>
      <td>
        <p-checkbox name="groupname" [binary]="true" [(ngModel)]="ms.isThreshold"
                    (click)="setThreshhold(ms)"></p-checkbox>
      </td>
      <td>{{ms.title}}</td>
      <td>{{ms.description}}</td>
      <td>{{ms.endTimestamp | date: 'medium'}}</td>
      <td>
        <button pButton label="Remove" icon="pi pi-times" class="p-button-danger" (click)="onRemove(ms)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="p-d-flex p-jc-between p-mt-2">
  <button pButton label="Go back" icon="pi pi-backward" (click)="onBefore()"></button>
  <button pButton label="Next" icon="pi pi-forward" [disabled]="!milestones.length" (click)="onNext()"></button>
</div>
