<ritmin-frontend-menu></ritmin-frontend-menu>
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-6xl font-bold mb-1">Join the first and fully decentralized </span>
          <div class="text-6xl text-primary font-bold mb-3">crowdfunding platform for content creators </div>
          <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <button pButton pRipple label="Whitepaper" type="button" class="mr-3 p-button-raised"></button>
          <button pButton pRipple label="Browse" type="button" class="p-button-outlined"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <div class="flex justify-content-center align-items-center hero">
      <img src="assets/images/cat-light.png" alt="NekoHit">
    </div>
  </div>
</div>

<div class="award-section flex justify-content-left align-items-center">
  <img class="award ml-3" src="assets/images/award.png">
  <div class="flex flex-column ml-5">
    <span class="award-title text-4xl font-bold">NEO FRONTIER LAUNCHPAD</span>
    <span class="award-subtitle text-white text-xl">Excellence Award Winner Project</span>
  </div>
</div>
