.hero {
  min-height: 500px;
  background-color: #2196f3;
  clip-path: circle(65% at 70% 40%);
}

.award-section {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(58, 58, 58);
  height: 120px;

  .award-title {
    color: #00e599;
  }
}

.award {
  height: 80px;
}
