p-card {
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .featuredProjectCard {
  width: 400px;
  background-color: #fafafa;
  color: rgb(58, 58, 58);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

::ng-deep .p-divider-content {
  background: rgb(1, 1, 1, 0) !important;
}

.milestoneBar {
  height: 10px;
  border-radius: 4px;
}

.finishedMs {
  background-color: #2196f3;
}

.openMs {
  background-color: rgb(190, 190, 190);
}
