<ng-container *ngIf="state$ | async as s">
  <p-card class="cursor-pointer" styleClass="featuredProjectCard">
    <div class="flex">
      <div class="mr-2">
        <ritmin-avatar [svg]="s.svg" [pxWidth]="45"></ritmin-avatar>
      </div>
      <div
        class="flex flex-column flex-grow-1 justify-content-between text-left"
      >
        <div class="flex flex-row justify-content-between">
          <span class="font-semibold">{{ s.project.identifier }}</span>
        </div>
      </div>
    </div>
    <p-divider align="center" styleClass="custom-divider">
      <p-tag severity="info">
        <span class="white-space-nowrap"
          >{{
            s.project.maxTokenSoldCount - s.project.remainTokenCount | number
          }}
          /
          {{ s.project.maxTokenSoldCount | tokenNumber: s.project.tokenSymbol }}
          {{ s.project.tokenSymbol }}</span
        >
      </p-tag>
    </p-divider>
    <ng-template pTemplate="footer">
      <div class="flex flex-column">
        <div class="flex justify-content-between mb-2">
          <span>In Progress</span>
          <span class="font-bold"
            >{{ s.project.nextMilestone }}/{{ s.project.milestonesCount }}</span
          >
        </div>
        <div class="flex justify-content-between" style="width: 100%">
          <div
            *ngFor="let ms of s.project.milestones; let i = index"
            [ngStyle]="{ width: 100 / s.project.milestonesCount - 0.9 + '%' }"
            class="milestoneBar"
            [ngClass]="i < s.project.nextMilestone ? 'finishedMs' : 'openMs'"
          ></div>
        </div>
      </div>
    </ng-template>
  </p-card>
</ng-container>
