<ng-container *ngIf="state$ | async as s">
  <p-menubar [model]="s.menuItems" styleClass="nekohit-menu">
    <ng-template pTemplate="start">
      <div class="logo ml-2 mr-3 mt-1 cursor-pointer" routerLinkActive="active">
        <a [routerLink]="['/']">
          <img src="assets/images/cat-dark.png" height="50" />
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <p-dropdown
        *ngIf="(address$ | async) === null"
        styleClass="walletDropdown"
        [options]="s.walletOptions"
        optionLabel="label"
        [(ngModel)]="s.selectedWallet"
        [placeholder]="translate.instant('MENU.CONNECT')"
        (onChange)="clickWalletOption$.next(s.selectedWallet)"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="s.selectedWallet" class="flex align-items-center">
            <img
              height="20"
              [src]="'assets/images/' + s.selectedWallet.value + '.png'"
            />
            <div class="ml-2">{{ s.selectedWallet.label }}</div>
          </div>
        </ng-template>
        <ng-template let-wallet pTemplate="item">
          <div class="flex align-items-center">
            <img height="30" [src]="'assets/images/' + wallet.value + '.png'" />
            <div class="ml-2 text-lg">{{ wallet.label }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <ng-container *ngIf="address$ | async as address">
        {{ address }}
      </ng-container>
    </ng-template>
  </p-menubar>
</ng-container>
