<ng-container *ngIf="state$ | async as s">
  <p-menubar [model]="s.menuItems" styleClass="nekohit-menu">
    <ng-template pTemplate="start">
      <div class="logo ml-2 mr-3 mt-1 cursor-pointer" routerLinkActive="active">
        <a [routerLink]="['/']">
          <img src="assets/images/cat-dark.png" height="50" />
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <ritmin-connect-wallet
        *ngIf="(address$ | async) === null"
        placeholder="Connect Wallet"
      ></ritmin-connect-wallet>
      <div class="flex">
        <div
          class="mr-2 flex flex-column align-items-end justify-content-center"
        >
          <ng-container *ngIf="address$ | async as address">
            <span [pTooltip]="address" tooltipPosition="left">{{
              address | truncateAddress
            }}</span>
          </ng-container>
        </div>
        <ng-container *ngIf="svgAvatar$ | async as svg">
          <ritmin-avatar [svg]="svg" [pxWidth]="45"></ritmin-avatar>
        </ng-container>
      </div>
    </ng-template>
  </p-menubar>
</ng-container>
