.nekohit-menu {
  &.p-menubar {
    border: 0px;
    background-color: #fff;
    font-size: 110%;
    width: 100%;
    z-index: 100;
  }
}

.loggedInMenuItem {
  .p-menuitem-icon {
    color: #2196f3 !important;
  }
}
