<div class="p-d-flex p-flex-row p-jc-around p-flex-wrap">
  <div *ngIf="wca != null">
    <h2>Basic info of {{wca.identifier}}</h2>
    <p>Description: {{wca.description}}</p>
    <p>Owner Address: {{wca.creator}}</p>
    <p>Stake rate: {{wca.stakePer100Token}}CAT</p>
    <p>Total amount: {{wca.maxTokenSoldCount}} CAT</p>
    <p>Remain amount: {{wca.remainTokenCount}} CAT</p>
    <p>Buyer count: {{wca.buyerCount}}</p>
    <p>Total milestone count: {{wca.milestonesCount}}</p>
    <p>Cool down interval: {{formatDuration(wca.coolDownInterval)}}</p>
    <p>Last
      update: {{wca.lastUpdateTimestamp == null ? "Never" : wca.lastUpdateTimestamp.toLocaleString()}}</p>
    <p>Current status: {{wca.status}}</p>
    <div class="p-d-flex p-jc-center p-ai-center p-mb-2">
      <button pButton type="button" label="Pay Stake"
              icon="pi pi-search" class="p-button-outlined"
              *ngIf="wca.status == 'PENDING' && isOwner"
      ></button>
      <button pButton type="button" label="Purchase"
              icon="pi pi-search" class="p-button-outlined"
              *ngIf="wca.status == 'OPEN' && !isOwner"
      ></button>
      <button pButton type="button" label="Update"
              icon="pi pi-search" class="p-button-outlined"
              *ngIf="(wca.status == 'OPEN' || wca.status == 'ACTIVE') && isOwner"
      ></button>
      <button pButton type="button" label="Finish"
              icon="pi pi-search" class="p-button-outlined"
              *ngIf="(wca.status == 'OPEN' || wca.status == 'ACTIVE') && isOwner"
      ></button>
    </div>
  </div>

  <div *ngIf="wca != null">
    <h2>Milestone info: </h2>
    <div *ngFor="let ms of wca.milestones; let i = index" [attr.data-index]="i">
      <p>Title: {{ms.title}}</p>
      <p *ngIf="i == wca.thresholdMilestoneIndex">*threshold*</p>
      <p *ngIf="i == wca.nextMilestone">*next*</p>
      <p>Description: {{ms.description}}</p>
      <p>End time: {{ms.endTimestamp.toLocaleString()}}</p>
      <p *ngIf="ms.linkToResult != null">Link to result: {{ms.linkToResult}}</p>
    </div>
  </div>
</div>
