
    <ng-container *ngIf="wca; else noWCA">
      <div class="p-d-flex">
        <p-panel header="Details" [toggleable]="true">
          <p-table [value]="[1]">
            <ng-template pTemplate="body">
              <tr>
                <td>Creator</td>
                <td><a [href]="'https://neo3.neotube.io/address/' + wca.creator">{{wca.creator}}</a></td>
              </tr>

              <tr>
                <td>Created at</td>
                <td>{{wca.creationTimestamp.toLocaleString()}}</td>
              </tr>
              <tr>
                <td>Identifier</td>
                <td>{{wca.identifier}}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{wca.description}}</td>
              </tr>
              <tr>
                <td>Cooldown Interval</td>
                <td>{{wca.coolDownInterval | timeDuration}}</td>
              </tr>
              <tr>
                <td>Tokens to sell</td>
                <td>{{wca.maxTokenSoldCount}}</td>
              </tr>
              <tr>
                <td>Tokens remaining</td>
                <td>{{wca.remainTokenCount}}</td>
              </tr>
              <tr>
                <td>Total milestones</td>
                <td>{{wca.milestonesCount}}</td>
              </tr>
              <tr>
                <td>Stake/Token</td>
                <td>{{wca.stakePer100Token}}</td>
              </tr>
              <tr>
                <td>Public</td>
                <td>{{wca.isPublic ? 'Yes' : 'No'}}</td>
              </tr>
              <tr>
                <td>Last update</td>
                <td>{{wca.lastUpdateTimestamp == null ? "Never" : (wca.lastUpdateTimestamp | date: 'medium')}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td><p-tag [value]="wca.status" [severity]="getStatusTag(wca.status)"></p-tag></td>
              </tr>
            </ng-template>
          </p-table>
        </p-panel>
        <div class="p-d-flex p-flex-column p-ml-2 p-fluid" *ngIf="walletService.address$.getValue() != null" style="min-width: 200px;">
          <p-panel header="Actions">

            <ng-container *ngIf="isOwner">
              <button pButton type="button" label="Pay Stake"
              icon="pi pi-money-bill"
              class="p-mb-2" (click)="payStake()"
              [disabled]="wca.status !== 'PENDING'"
              ></button>

              <button pButton type="button" label="Update"
              icon="pi pi-arrow-circle-up" class="p-mb-2"
              [disabled]="wca.status !== 'OPEN' && wca.status != 'ACTIVE'"
              (click)="displayUpdate = true"
              ></button>
              <br>
              <button pButton type="button" label="Finish"
              icon="pi pi-times" class="p-mb-2"
              [disabled]="wca.status !== 'OPEN' && wca.status !== 'ACTIVE'"
              (click)="requestFinish()"></button>
            </ng-container>


            <ng-container *ngIf="!isOwner">

              <button pButton type="button" label="Refund" icon="pi pi-times"
              class="p-mb-2"
              [disabled]="purchasedAmount === 0"
              (click)="makeRefund()"></button>
              <br>

              <button pButton type="button" label="Purchase"
                icon="pi pi-shopping-cart" class="p-mb-2"
                [disabled]="wca.status !== 'OPEN'"
                (click)="displayPurchase = true"></button>
                <br>
              <button pButton type="button" label="Request Finish"
                icon="pi pi-times" class="p-mb-2"
                *ngIf="wca.milestones[wca.milestones.length - 1].endTimestamp < now && wca.status == 'ACTIVE'"
                (click)="requestFinish()"></button>
            </ng-container>
          </p-panel>

        </div>
      </div>

      <br>
      <p-panel header="Milestones" [toggleable]="true">
        <p-table [value]="wca.milestones" [autoLayout]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
              <th>End Date</th>
              <th>Link to result</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ms>
            <tr [ngClass]="getMilestoneRowClass(ms)">
              <td>{{getIndex(ms.endTimestamp) + 1}}</td>
              <td>{{ms.title}}</td>
              <td>{{ms.description }}</td>
              <th><p-tag [value]="getStatusTextForMs(ms)" [severity]="getStatusTagForMs(ms)"></p-tag></th>
              <td>{{ms.endTimestamp | date: 'medium'}}</td>
              <td><a [href]="ms.linkToResult">{{ms.linkToResult}}</a></td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </ng-container>

    <ng-template #noWCA>
      <p-progressSpinner [style]="{width: '70px', height: '70px'}" ></p-progressSpinner>
    </ng-template>



<div class="p-d-flex p-flex-row p-jc-around p-flex-wrap">

    <p style="font-weight: bold" *ngIf="purchasedAmount != 0">You have purchased {{purchasedAmount}}CAT</p>

    <ng-template pTemplate="footer">
      <div class="p-d-flex p-jc-center p-ai-center p-mb-2">

      </div>
    </ng-template>

<p-dialog header="Purchase WCA" [(visible)]="displayPurchase">
  <h4>Set your purchase amount:</h4>
  <p-inputNumber [(ngModel)]="purchaseAmount" [minFractionDigits]="2" [min]="0.01"></p-inputNumber>
  <button pButton icon="pi pi-plus" label="Purchase" (click)="purchase()" [disabled]="isLoading"></button>
</p-dialog>

<app-pending-request [display]="displayPendingRequest">

<p-confirmDialog appendTo="body" [style]="{width: '50vw'}" [baseZIndex]="1000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog header="Update milestone" [(visible)]="displayUpdate">
  <ng-container *ngIf="isLoading">
    <div class="p-d-flex p-jc-center p-ai-center p-flex-column">
      <p-progressSpinner></p-progressSpinner>
      <div class="p-mt-2">
        <small>Please approve the pending request</small>
      </div>
    </div>
  </ng-container>
  <h4>Choose a milestone to update:</h4>
  <p-dropdown [options]="updatableMilestones" [(ngModel)]="selectedMilestones" optionLabel="title"></p-dropdown>
  <br/>
  <small *ngIf="selectedMilestones != undefined">Deadline: {{selectedMilestones.endTime.toLocaleString()}}</small>
  <h4>Proof of your work:</h4>
  <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="updateContent"></textarea>
  <br/>
  <button pButton icon="pi pi-arrow-circle-up" label="Update" (click)="update()" [disabled]="isLoading"></button>
</p-dialog>
