<h1>Basic Information</h1>
<form [formGroup]="form" (ngSubmit)="onNext()">
  <h4>Description</h4>
  <small>
    Describe what your WCA is about in 2-3 short but precise sentences.
    Add a link which leads to your project website which may show more information
    about your goals.
  </small>
  <div class="p-fluid">
    <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" formControlName="description"></textarea>
  </div>

  <h4>Identifier</h4>
  <small>
    Here comes the cooldown description
  </small>
  <div class="p-fluid">
    <input pInputText formControlName="identifier"/>
  </div>

  <h4>Cooldown Interval</h4>
  <small>
    Here comes the cooldown description
  </small>
  <div class="p-fluid">
    <p-inputNumber [min]="1" formControlName="cooldownInterval"></p-inputNumber>
  </div>

  <h4>Tokens to sell</h4>
  <small>
    Here comes the Tokens to sell description
  </small>
  <div class="p-fluid">
    <p-inputNumber [min]="1" formControlName="maxTokenSoldCount"></p-inputNumber>
  </div>

  <h4>Stake/Token</h4>
  <small>
    Here comes the Stake/Token description
  </small>
  <div class="p-fluid">
    <p-inputNumber [min]="0" formControlName="stakePerToken"></p-inputNumber>
  </div>

  <h4>Public</h4>
  <small>
    Here comes the public description
  </small>
  <div class="p-fluid">
    <p-checkbox formControlName="isPublic" [binary]="true"></p-checkbox>
  </div>
  <div class="p-d-flex p-jc-end">
    <button pButton label="Next" icon="pi pi-caret-right" type="submit" [disabled]="!form.valid"></button>
  </div>
</form>
