<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div pRipple class="p-d-flex p-ai-center p-jc-center p-mr-4" [routerLink]="''">
     <img src="assets/logo.png" height="46" class="logo" alt="nekohit-logo"/>
      <span class="p-ml-3 p-text-bold">NekoHit</span>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <ng-container *ngIf="wallet.getAddress$() | async as a; else connect">
      <div class="p-d-flex p-flex-row p-ai-center p-jc-center p-mr-2">
        <div class=""><small>{{ a | truncateAddress}}</small></div>
        <img src="assets/neo/neo.png" height="30" alt="neo-n3-logo" class="p-ml-2"/>
      </div>
    </ng-container>
    <ng-template #connect>
      <button pButton label="Connect Wallet" [disabled]="wallet.isLoading()" [icon]="wallet.isLoading() ? loadingIcon : connectIcon" (click)="onConnectBtnClick()"></button>
    </ng-template>
  </ng-template>
</p-menubar>
